  html, body, #root, #root>div {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .active {
    background-color: blue;


    
  }

  .Toastify__toast-container, .Toastify__toast-container--top-center {
    position: relative !important;
  }
  .Toastify__close-button, .Toastify__close-button--light{
    display: none;
    pointer-events: none;
  }
  .toast-success-container {
    background-color: lemonchiffon !important;
    font-weight: 700;
    color: rgb(160, 115, 0) !important;
  }